@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

:root {
     --main-color: rgb(186, 0, 0);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

body, html {
    position: relative;
    width: 100%;
}

a {
    text-decoration: none;
}

.banner {
    background-image: url(/assets/fotos_projeto/banner_header-01.png);
    background-repeat: no-repeat;
    background-size: 100% 190px;
    width: 100%;
    height: 190px;
    margin: 0;
    margin-bottom: 5px;
}

.top-div {
    width: 100%;
    height: 50px;
    background-color: rgba(186, 0, 0);
    margin-bottom: 40px;
    
}

.titulo-sec {
    color: #fff;
    font-size: 18px;
    /* text-align: left; */
    font-weight:300;
    letter-spacing: 2px;
    padding-top: 10px;
    padding-left: 40px;
    text-transform: uppercase;
}

.btn-voltar {
    position: absolute;
    right: 30px;
    top: 188px;
}

.btn-voltar i:hover {
    opacity: .8;
}

.fa-house {
    color: #fff;
    font-size: 25px;
    padding-top: 20px;
    padding-right: 10px;
}

.centralize {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.card {
    width: 95%;
    height: 180px;
    background-color: #fff;
    box-shadow:  0 0 10px 1px rgba(0, 0, 0, .3);
    margin-bottom: 20px;
}

.desc-div {
    width: 100%;
    height: 40px;
    background-color: rgba(186, 0, 0);
    position: absolute;
    right: 0;
}

.img-div img {
    width: 310px;
    height: 178px;
    position: absolute;
}
.img-div img:hover {
    transition: .8s;
    transform: scale(1.02);
    border-radius: 5px;
}

.nome-titulo {
   color: #fff;
   font-size: 20px;
   position: absolute;
   top: -5px;
    right: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}


.icons-div {
    position: absolute;
    bottom: 5px;
    right: 15px;
}

.icons-div span {
    border-right: 2px dotted #cacaca;
    margin-bottom: 5px;
    padding-bottom: 0;
    padding-top: 0;
}

.icons-div span:last-child {
    border: none;
}

i {
    color: var(--main-color);
    font-size: 20px;
}

span {
    padding: 10px;
    font-size: 20px;
}

.preco {
    color: rgb(186, 0, 0);
    font-weight: bold;
    font-size: 24px;
}

.descricao-card {
    position: absolute;
    width: 68%;
    font-size: 16px;
    top: 55px;
    right: 15px;
    
}


