@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

:root {
    --paleta-0: rgb(168, 0, 0);
    --paleta-1: #2e2f34;
    --paleta-2: #3c4253;
    --paleta-3: #5f7285;
    --paleta-4: #a5b0c2;
    --paleta-5: #241E21;
    --paleta-6: #273B63;

}

* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

body, html {
    position: relative;
    width: 100%;
}

a {
    text-decoration: none;
}

.banner {
    background-image: url(/assets/fotos_projeto/banner_header-01.png);
    background-repeat: no-repeat;
    background-size: 100% 210px;
    width: 100%;
    height: 210px;
    margin: 0;
    margin-bottom: 1px;
}

.top-div {
    width: 100%;
    height: 50px;
    background: linear-gradient(var(--paleta-0), rgb(150,0,0));
    margin-bottom: 40px;
    
}

.titulo-sec {
    color: #fff;
    font-size: 22px;
    /* text-align: left; */
    font-weight:300;
    letter-spacing: 2px;
    padding-top: 10px;
    padding-left: 40px;
    text-transform: uppercase;
}

.btn-voltar {
    position: absolute;
    right: 30px;
    top: 205px;
}

.btn-voltar i:hover {
opacity: .8;
}

.fa-house {
    color: #fff;
    font-size: 25px;
    padding-top: 18px;
    padding-right: 10px;
}

.centralize {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.card {
    width: 95%;
    height: 200px;
    background-color: #fff;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, .3);
    margin-bottom: 20px;
    
}

.desc-div {
    width: 100%;
    height: 40px;
    background: linear-gradient(#fff, rgba(160, 160, 160, 0.274));

    position: absolute;
    right: 0px;
    border-bottom-left-radius: 10px;
}

.img-div img {
    width: 313px;
    height: 199px;
    position: absolute;
}

.img-div img:hover{
    transition: 800ms;
    filter: brightness(70%);
}

.lowercase {
    text-transform: lowercase;
}

.nome-titulo {
   color: var(--paleta-0);
   font-size: 20px;
   font-weight: bold;
   position: absolute;
   right: 5px;
   bottom: -1px;
   text-transform: uppercase;
   letter-spacing: 1px;
}


.icons-div {
    position: absolute;
    bottom: 5px;
    right: 15px;
}

.icons-div span {
    border-right: 2px dotted #cacaca;
    margin-bottom: 5px;
    padding-bottom: 0;
    padding-top: 10px;
}

.icons-div span:last-child {
    border: none;
}

i {
    color: var(--paleta-0);
    font-size: 20px;
}

span {
    padding: 10px;
    font-size: 20px;
}

.preco {
    color: rgb(186, 0, 0);
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 1px;
}

.descricao-card {
    position: absolute;
    width: 68%;
    font-size: 18px;
    top: 45px;
    right: 30px;
    text-align:end;
}

.footer-container {
    width: 100%;
    height: 280px;
    background: linear-gradient(var(--paleta-0), rgb(120,0,0));
    box-sizing: border-box;
    padding-top: 15px;
}

.btn-f-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-footer {
    background-color: transparent;
    border: solid 3px white;
    font-size: 22px;
    font-weight: 200;
    padding: 5px 15px;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 30px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #fff;
    transition: 1s;
    box-sizing: border-box;
}

.btn-footer:hover {
    background-color: #fff;
    color: var(--paleta-0);
}

.footer-list {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0;
}

.footer-item {
    margin: 15px;
    list-style: none;
    transition: 200ms;
}

.footer-item:hover {
    transform: scale(1.2);
}

.footer-container h4, h5, h6 {
    text-align: center;
    font-weight: 200;
    color: #fff;
    letter-spacing: 2px;

}

.footer-container h4 {
    font-size: 16px;
    margin-bottom: 8px;
}

.footer-container h5 {
    font-size: 14px;
}

.foioter-container h6 {
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 2px;
}

.footer-container i {
    color: #fff;
    font-size: 40px;
}

/* Icone whatsapp flutuante */

.icon-wp {
    position: fixed;
    bottom: 65px;
    right: 30px;
    background-color: #00c663;
    color: #fff;
    border-radius: 50%;
    padding: 10px;
    width: 70px;
    height: 70px;
    text-align: center;
    text-decoration: none;
    z-index: 10000;
}

.icon-wp i {
    font-size: 50px;
    position: absolute;
    top: 8px;
    right: 12px;
    color: #fff;
}

.icon-wp:hover {
    transition: .5;
    box-shadow: 2px 2px 20px #5fe690;
    opacity: .9;
    color: #fff;
}

.alert-wpp {
    border-radius: 50%;
    background-color: red;
    width: 20px;
    height: 20px;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    bottom: 15px;
    left: 40px;
    animation: float 1s ease-in-out infinite;
}

@keyframes float {
    0%,100%{
        transform:translatey(0)
    }
    50%{
        transform:translatey(-1px)
    }
}

/* loader */

div#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(168, 0, 0);
    z-index: 999999;
  }

  #preloader img {
    border: 2px solid #fff;
    border-radius: 20%;
    position: absolute;
    top: 20%;
  }

  .l-logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .loader .title {
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: lighter;
    text-align: center;
  }
  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top:-50px; 
    margin-left:-50px;
  }
  /*Carregando*/
  .carregando {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
    margin-bottom: 20%;
    margin-left: 18%;
    border-top: 3px solid #fff;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 

  #header {
    height: 50px;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(186, 0, 0);
    visibility: hidden;
}

#menu {
    display: flex;
    list-style: none;
    gap: .5rem;
}

#menu a  {
    display: block;
    padding: .5rem;
        color: #fff;
    text-decoration: none;
}

#btn-mobile {
    display: none;
}

@media (max-width: 1200px) {

    .banner {
        background-image: url(/assets/fotos_projeto/banner_header-01.png);
        background-size: cover;
    }

    div.card {
        width: 85%;
        height: 360px;
        border-radius: 15px;
    }

    .desc-div {
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        height: 50px;
    }

    .descricao-card {
        display: none;
    }

    .img-div {
        position: relative;
        top: 45px;
    }
    .img-div img {
        width: 100%;
        height: 220px;
        border-bottom: 2px solid rgb(186, 0, 0);
    }

    .cards-grid {
        display: grid;
        grid-template-columns: repeat(1,2fr);
    }
    
    .icons-div {
        position: relative;
        top: 270px;
        left: 6px;
        border-bottom: #cacaca;
        
    }
    
    .icons-div i {
        font-size: 22px;
        
    }
    
    .icons-div span {
        font-size: 22px;
    }
    
    span.preco {
        position: absolute;
        left: 0px;
        top: 30px;
        font-size: 28px;
    }
    .icons-div span:nth-child(4) {
        border: none;
    }
}

@media (max-width: 768px) {
    .banner {
        background-image: url(/assets/fotos_projeto/mobile-banner1.png);
        background-size: cover;
    }

    div.card {
        width: 85%;
        height: 360px;
        border-radius: 15px;
    }

    .desc-div {
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        height: 50px;
    }

    .descricao-card {
        display: none;
    }

    .img-div {
        position: relative;
        top: 45px;
    }
    .img-div img {
        width: 100%;
        height: 220px;
        border-bottom: 2px solid rgb(186, 0, 0);
    }

    
    .icons-div {
        position: relative;
        top: 270px;
        left: 6px;
        border-bottom: #cacaca;
        
    }
    
    .icons-div i {
        font-size: 22px;
        
    }
    
    .icons-div span {
        font-size: 22px;
    }
    
    span.preco {
        position: absolute;
        left: 0px;
        top: 30px;
        font-size: 28px;
    }
    .icons-div span:nth-child(4) {
        border: none;
    }

    .fa-house {
        font-size: 22px;
        padding-top: 19px;
    }

    

}



