@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
:root {
     --main-color: rgb(186, 0, 0);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}



.banner {
    background-image: url(../assets/banner_header-01.png);
    background-repeat: no-repeat;
    background-size: 100% 180px;
    width: 100%;
    height: 180px;
    margin-bottom: 5px;
}

.ul-top {
    width: 100%;
    height: 50px;
    background-color: rgb(186, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.top-div {
    width: 100%;
    height: 50px;
    background-color: rgba(186, 0, 0);
    display: flex;
    border-bottom: 5px solid #fff;    
}

.titulo-sec {
    color: #fff;
    font-size: 24px;
    /* text-align: left; */
    font-weight:300;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-top: 5px;
    padding-left: 40px;
}

.descricao-container {
    font-size: 22px;
    /* border-bottom: solid 1px var(--main-color); */
}

.descricao-imovel {
    width: 100%;
    text-align: center;
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
}

.icons-container {
    text-align: center;
    margin-bottom: 20px;
}

i {
    color: var(--main-color);
    font-size: 40px;
}

span {
    padding: 10px;
    font-size: 30px;
}

.btn-voltar {
    position: absolute;
    right: 30px;
    top: 188px;
}

.btn-voltar i:hover {
    color: rgba(255, 255, 0, 0.903);
    transition: 1s;
}

.fa-house {
    color: #fff;
    font-size: 30px;
    padding-top: 5px;
    padding-right: 10px;
}

.carousel {
    width: 100%;
    margin-bottom: 5px;
}

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.footer-container {
    width: 100%;
    height: 270px;
    background-color: var(--main-color);
    box-sizing: border-box;
    text-align: center;
}

.btn-f-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-footer {
    background-color: transparent;
    border: solid 3px white;
    font-size: 22px;
    font-weight: 200;
    padding: 10px 15px;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 30px;
    margin-bottom: 10px;
}

.btn-footer {
    text-decoration: none;
    color: #fff;
    transition: 1s;
    box-sizing: border-box;
}

.btn-footer:hover {
    background-color: #fff;
    color: var(--main-color);
}

.footer-list {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.footer-item {
    margin-top: 15px;
    list-style: none;
    transition: 200ms;
}

.footer-item:hover {
    transform: scale(1.2);
}

footer h4, h5, h6 {
    text-align: center;
    font-weight: 200;
    color: #fff;
    letter-spacing: 2px;

}

footer h4 {
    font-size: 18px;
    margin-bottom: 8px;
}

footer h5 {
    font-size: 16px;
}

footer h6 {
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 2px;
    
}

footer i {
    margin-right: 35px;
    color: #fff;
    font-size: 40px;
}

iframe {
    margin-bottom: 5px;
}



