@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
:root {
     --main-color: rgb(186, 0, 0);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}



.banner {
    background-image: url(../assets/fotos_projeto/banner_header-01.png);
    background-repeat: no-repeat;
    background-size: 100% 210px;
    width: 100%;
    height: 210px;
    margin-bottom: 1px;
}

.ul-top {
    width: 100%;
    height: 50px;
    background-color: rgb(186, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.top-div {
    width: 100%;
    height: 50px;
    background-color: rgba(186, 0, 0);
    display: flex;
    border-bottom: 5px solid #fff;    
}

.titulo-sec {
    color: #fff;
    font-size: 24px;
    font-weight:300;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-top: 5px;
    padding-left: 40px;
}

.descricao-container {
    font-size: 22px;
}

.descricao-imovel {
    width: 100%;
    margin-top: 15px;
    text-align: justify;
}

.icons-container {
    text-align: center;
    margin-bottom: 20px;
}

i {
    color: var(--main-color);
    font-size: 35px;
}

.span-icons {
    padding: 10px;
    font-size: 25px;
    border-right: 2px dotted #cacaca;
}

.span-icons:last-child {
    border: none;
}

span.condominio {
    color: rgb(186, 0, 0);
    font-weight: bold;
}

.video-imovel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-imovel iframe{
    width: 85%;
    height: 450px;
    margin-bottom: 5px;
}

.btn-voltar {
    position: absolute;
    right: 30px;
    top: 188px;
}

.btn-voltar i:hover {
    color: rgba(255, 255, 0, 0.903);
    transition: 1s;
}

.fa-house {
    color: #fff;
    font-size: 25px;
    padding-top: 33px;
    padding-right: 10px;
}

.carousel {
    width: 100%;
    margin-bottom: 5px;
}

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.w-100 {
    height: 500px;
}

/* .carousel-control-prev:hover, .carousel-control-next:hover {
    transition: all .5s ease-in-out;
    background-color: rgba(0, 0, 0, .5);
} */

.footer-container {
    width: 100%;
    height: 270px;
    background-color: var(--main-color);
    box-sizing: border-box;
    text-align: center;
}

.btn-f-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-footer {
    background-color: transparent;
    border: solid 3px white;
    font-size: 22px;
    font-weight: 200;
    padding: 10px 15px;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 30px;
    margin-bottom: 10px;
}

.btn-footer {
    text-decoration: none;
    color: #fff;
    transition: 1s;
    box-sizing: border-box;
}

.btn-footer:hover {
    background-color: #fff;
    color: var(--main-color);
}

.footer-list {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.footer-item {
    margin-top: 15px;
    list-style: none;
    transition: 200ms;
}

.footer-item:hover {
    transform: scale(1.2);
}

footer h4, h5, h6 {
    text-align: center;
    font-weight: 200;
    color: #fff;
    letter-spacing: 2px;

}

footer h4 {
    font-size: 18px;
    margin-bottom: 8px;
}

footer h5 {
    font-size: 16px;
}

footer h6 {
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 2px;
    
}

footer i {
    margin-right: 35px;
    color: #fff;
    font-size: 40px;
}

.icon-wp {
    position: fixed;
    bottom: 65px;
    right: 30px;
    background-color: #00c663;
    color: #fff;
    border-radius: 50%;
    padding: 10px;
    width: 70px;
    height: 70px;
    text-align: center;
    text-decoration: none;
    z-index: 100;
}

.icon-wp i {
    font-size: 50px;
    position: absolute;
    top: 8px;
    right: 12px;
    color: #fff;
}

.icon-wp:hover {
    transition: .5;
    box-shadow: 2px 2px 20px #5fe690;
    opacity: .9;
    color: #fff;
}

.alert-wpp {
    border-radius: 50%;
    background-color: red;
    width: 20px;
    height: 20px;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    bottom: 15px;
    left: 40px;
    animation: float 1s ease-in-out infinite;
}

@keyframes float {
    0%,100%{
        transform:translatey(0)
    }
    50%{
        transform:translatey(-3px)
    }
}

.lowercase {
    text-transform: lowercase;
}

.responsive-icons-container {
    display: none;
}

/* loader */

div#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(168, 0, 0);
    z-index: 999;
  }

  #preloader img {
    border: 2px solid #fff;
    border-radius: 20%;
    position: absolute;
    top: 30%;
    margin-right: 11px;
  }

  .l-logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .loader .title {
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: lighter;
    text-align: center;
  }
  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top:-50px; 
    margin-left:-50px;
  }
  /*Carregando*/
  .carregando {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
    margin-bottom: 20%;
    margin-left: 18%;
    border-top: 3px solid #fff;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 

@media (max-width: 768px) {
    .banner {
        background-image: url(/assets/fotos_projeto/mobile-banner1.png);
        background-size: cover;
    }

    .titulo-sec {
        font-size: 22px;
        text-align: left;
    }

    .descricao-imovel {
        text-align: center;
        margin-bottom: 30px;
        line-height: 40px;
    }

    .video-imovel iframe {
        width: 100%;
    }

    .icons-container .resp-icons {
        display: block;
        border-top: 1px solid rgba(0, 0, 0, .2);
    }

    

    .icons-container i {
        font-size: 16;
    }

    .span-icons {
        border: none;
    }

    .fa-house {
        font-size: 20px;
        position: relative;
        right: -20px;
        top: 2px;
    }

    
}






